@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Encode Sans";
  background-color: #0c0c0c;
  color: #e5dfd9;
  box-sizing: border-box;
}